@import "variables";

.panel {
	&.panel-card {
    	box-shadow: 0 1px 4px rgba(0,0,0,.3);
    	border-radius: $radius;
    	&:hover.inspiration-card .panel-heading img {
    		transform: none;
    	}
	}
}
.panel-card-container {
	border: none;
}

.panel.panel-card:hover.news-card .panel-heading img {
	transform: none;
}